:colors {
    --natural-50: #F9FAFA;
    --nautral-100: #F3F4F4;
    --nautral-200: #E6E7E8;
    --nautral-300: #D1D5D6;
    --primary-50: #eaf8fa;
    --primary-100: #D5F4F8;
    --primary-200: #B0E8F1;
    --primary-300: #79D6E7;
    --primary-400: #3FBCD5;
    --primary-500: #209FBA;
    --accent-50: #FFF4ED;
    --accent-100: #FFE5D4;
    --accent-200: #FFC8A8;
    --accent-300: #FFA171;

}

:root {
    background: #FFFFFF;
    --deep-stripcolor: #3FBCD580;
    --light-stripcolor: #ffffffbf;
    --border-color: #D5F4F8;
    --container-bg-color: #eaf8fa;
    --inner-content-bg-color: #3FBCD5;
    --div-color: #3FBCD5;
    --inner-content-text-color: #fff;
    --inner-stripe-text-color: #222;
    --stripesover: #FFA17180;
}

.container {
    border: 2px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--container-bg-color);
    padding: 16px;
    margin-top: 40px;
}

.size-details {
    display: block;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--container-bg-color);
    padding: 16px;
}

.title-and-details {
    display: flex;
    width: 100%;
}

.size-class {
    display: flex;
    align-items: flex-start;
}

.size-class>*+* {
    margin-bottom: 10px;
}

.title {
    width: 40px;
    text-align: center;
    font-weight: 600;
    color: #273142;
}

.view {
    background-color: var(--div-color);
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 12px;
}

.stripes {
    background-image: linear-gradient(135deg, var(--deep-stripcolor) 10%, #0000 0, #0000 50%, var(--deep-stripcolor) 0, var(--deep-stripcolor) 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
    color: var(--inner-stripe-text-color);
    padding: 10px;
}

.stripesover {
    background-color: var(--stripesover);
    background-image: linear-gradient(135deg, var(--deep-stripcolor) 10%, #0000 0, #0000 50%, var(--deep-stripcolor) 0, var(--deep-stripcolor) 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
    color: var(--inner-stripe-text-color);
    padding: 10px;
    border-radius: 4px;
}

.div-design {
    background-color: var(--div-color);
    border-radius: 4px;
    padding: 12px;
    color: var(--inner-content-text-color);
}

.cols-code {
    border-radius: 8px;
    width: 60%;
}

pre {
    background-color: #1e293b;
    border: 1px solid #ddd;
    color: #dfdede;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
    max-width: 100%;
    overflow: auto;
    padding: 16px 24px;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
}

.container-md {
    border: 2px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--container-bg-color);
    padding: 16px;
    margin-top: 40px;
    container-type: inline-size;
    resize: horizontal;
    overflow-y: auto;
    width: 390px;
}

.padding-container {
    border: 2px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--container-bg-color);
    padding: 16px;
    margin-top: 40px;
}

.con-p-lg {
    display: flex;
    justify-content: center;
}

.con-side {
    display: flex;
    justify-content: space-evenly;
}


.p-lg-design {
    height: 60px;
    width: 60px;
    background-color: var(--deep-stripcolor);
    border-radius: 4px;
}

.bg-stripes-white {
    background-image: linear-gradient(135deg, var(--light-stripcolor) 10%, #0000 0, #0000 50%, var(--light-stripcolor) 0, var(--light-stripcolor) 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}

.inner-p {
    display: flex;
    background-color: var(--inner-content-bg-color);
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    color: var(--inner-content-text-color);

}

.inner-pt-lg {
    border-radius: 0px 0px 4px 4px
}

.inner-pr-lg {
    border-radius: 4px 0px 0px 4px
}

.inner-pb-lg {
    border-radius: 4px 4px 0px 0px
}

.inner-pl-lg {
    border-radius: 0px 4px 4px 0px
}

.spacing {
    display: block;
    justify-content: center;
}

.spacing-x {
    display: contents;
    justify-content: center;
    align-items: center;
}

.adjust-hight-width {
    padding: 5px;
    height: 20px;
    width: 20px;
}

.con-space {
    display: flex;
    justify-content: center;
    padding: 4px;
}

.bg-stripes {
    display: inherit;
    background-color: #e879f91a;
    background-image: linear-gradient(135deg, var(--deep-stripcolor) 10%, #0000 0, #0000 50%, var(--deep-stripcolor) 0, var(--deep-stripcolor) 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}